html {
  scroll-behavior: smooth;
  font-family: var(--lumo-font-family);
}
body {
  margin: 0;
}

#toast-id {
  color: #ffffff;
}

#toast-id.toast-message-error {
  background-color: #b71c1c;
}

.w-100 {
  width: 100%;
}
