# compiled output
/dist
/build
**/node_modules
.shopify

#Env
.env
.env.*
*.http
ecosystem.config.js
yarn.lock
/extensions/order-limiter/assets/*order-limiter.*
/extensions/order-limiter/assets/*order-limiter.*
!/extensions/order-limiter/assets/order-limiter.min.js
/extensions/order-limiter/assets/*order-limiter-abtest.*
/extensions/checkout-ui/dist/*checkout-ui.*
/extensions/checkout-ui/dist/*checkout-ui-abtest.*
shopify.app*.toml
docker-compose.yml
.shopify
.qodo

# Logs
/logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
package-lock.json

# OS
.DS_Store

# Tests
/coverage
.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json