REACT_APP_API_END_POINT=https://localhost4000.datdh.io.vn
REACT_APP_SYNCTRACK_API_END_POINT=https://synctrack.example.com/
REACT_APP_GOOGLE_CALENDAR_TOKEN=your-google-calendar-token
REACT_APP_ENV=development
APP_ID=560cdca5-8789-4302-960d-791ced73bce9
REACT_APP_THEME_APP_EXTENSION_ID=096b8de3-4d90-4833-a477-feb3ba643a75
REACT_APP_CANNY_APP_ID=your-canny-app-id
CANNY_BOARD_TOKEN=your-canny-board-token

